<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Pedido</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">

    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-progress-bar type="indeterminate" *ngIf="loading"></ion-progress-bar>

    <ion-list>

        <ion-item-sliding *ngFor="let listados of listado">

            <ion-item button (click)="editarPedido(listados.id)" routerDirection="root" [routerLink]="'/formulario-pedido'">
                <ion-label>
                    <h3>{{ listados.cliente.razonSocial }}</h3>
                    <p> {{ listados.fechaDeCreacion | date:'dd/MM/yy'}} </p>
                </ion-label>

                <ion-label slot="end" class="ion-text-end text-small">
                    <h3>{{ listados.total | currency:'':'':'.0-0'}}</h3>
                    <p>{{listados.estado.estadoPedido}}</p>
                </ion-label>

            </ion-item>

            <ion-item-options side="end">
                <ion-item-option color="primary">
                    <ion-icon slot="icon-only" name="close"></ion-icon>
                </ion-item-option>
                <ion-item-option color="danger">
                    <ion-icon slot="icon-only" name="trash"></ion-icon>
                </ion-item-option>
            </ion-item-options>

        </ion-item-sliding>

    </ion-list>

    <ion-fab vertical="bottom" slot="fixed" horizontal="start">
        <ion-fab-button (click)="presentAlertBuscar()">
            <ion-icon name="search"></ion-icon>
        </ion-fab-button>

        <ion-fab-list side="end">
            <ion-fab-button color="danger" (click)="cancelarBuscar()">
                <ion-icon name="backspace"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="agregarPedido()" routerDirection="root" [routerLink]="'/formulario-pedido'">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>