<ion-content>

    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-slide>
        <ion-grid fixed>
            <ion-row>
                <ion-col size-sm="8" offset-sm="2" size-md="6" offset-md="3" size-lg="4" offset-lg="4">
                    <ion-header>
                        <ion-toolbar>
                            <ion-title>Inicie sesión</ion-title>
                        </ion-toolbar>
                    </ion-header>

                </ion-col>
            </ion-row>
            <form #formulario="ngForm" (ngSubmit)="onSubmit(formulario)" (keyup.enter)="ingresar(formulario.valid)">
                <ion-row>
                    <ion-col size-sm="8" offset-sm="2" size-md="6" offset-md="3" size-lg="4" offset-lg="4">
                        <ion-item>
                            <ion-icon name="person-outline" class="ion-padding"></ion-icon>
                            <ion-input type="email" placeholder="Email" name="email" [(ngModel)]="usuario.username" pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" required></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-icon name="lock-closed-outline" class="ion-padding"></ion-icon>
                            <ion-input type="password" placeholder="Contraseña" name="password" [(ngModel)]="usuario.password" required></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label>Recordar</ion-label>
                            <ion-checkbox color="primary" name="recordar" [(ngModel)]="recordarme"></ion-checkbox>
                        </ion-item>

                        <ion-progress-bar type="indeterminate" *ngIf="loading"></ion-progress-bar>

                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size-sm="8" offset-sm="2" size-md="6" offset-md="3" size-lg="4" offset-lg="4">
                        <ion-button (click)="ingresar(formulario.valid)" expand="block" shape="round">
                            Ingresar
                        </ion-button>
                    </ion-col>
                </ion-row>
            </form>
        </ion-grid>
    </ion-slide>


</ion-content>