<ion-header class="ion-no-border" translucent>
    <ion-toolbar>

        <ion-buttons slot="start">
            <ion-back-button defaultHref="/cliente" routerDirection="root" text="Volver" color="primary">
            </ion-back-button>
        </ion-buttons>


        <ion-title class="ion-text-capitalize">
            {{ titulo || 'Formulario' }}
        </ion-title>

        <ion-buttons slot="end">
            <ion-button *ngIf="!formulario.valid" color="danger" (click)="guardar(formulario.valid)">
                <ion-icon name="checkmark-outline"></ion-icon>
            </ion-button>
            <ion-button *ngIf="formulario.valid" color="success" (click)="guardar(formulario.valid)" routerDirection="root">
                <ion-icon name="checkmark-outline"></ion-icon>
            </ion-button>
        </ion-buttons>

    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <form #formulario="ngForm" (ngSubmit)="onSubmit(formulario)">

        <ion-list-header>
            <ion-label>Formulario válido: {{ formulario.valid }}</ion-label>
        </ion-list-header>

        <ion-item>
            <ion-label>Razon Social:</ion-label>
            <ion-input type="text" placeholder="Nombre" name="nombre" [(ngModel)]="cliente.razonSocial" pattern="^([a-zA-Z0-9_\-\.]{2,10})$" required></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>RUT:</ion-label>
            <ion-input type="text" placeholder="RUT" name="rut" [(ngModel)]="cliente.rut" pattern="^([0-9\-]{9,11})$" required></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Vigente:</ion-label>
            <ion-checkbox type="checkbox" name="vigente" [(ngModel)]="cliente.vigente">{{cliente.vigente || 'false'}}</ion-checkbox>
        </ion-item>

    </form>

</ion-content>