<ion-header class="ion-no-border" translucent>
    <ion-toolbar>

        <ion-buttons slot="start" id="volver">
            <ion-back-button defaultHref="/producto" routerDirection="root" text="Volver" color="primary">
            </ion-back-button>
        </ion-buttons>


        <ion-title *ngIf="data" class="ion-text-capitalize">
            {{ producto.nombre || 'Formulario' }}
        </ion-title>

        <ion-title *ngIf="!data" class="ion-text-capitalize">
            <ion-skeleton-text animated style="width: 150px; height:25px"></ion-skeleton-text>
        </ion-title>

        <ion-buttons slot="end" id="guardar">
            <ion-button *ngIf="!formulario.valid" color="danger" (click)="guardar(formulario.valid)">
                <ion-icon name="send-outline"></ion-icon>
            </ion-button>
            <ion-button *ngIf="formulario.valid" color="success" (click)="guardar(formulario.valid)" routerDirection="root">
                <ion-icon name="send"></ion-icon>
            </ion-button>
        </ion-buttons>

    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <form #formulario="ngForm" (ngSubmit)="onSubmit(formulario)">

        <ion-list-header>
            <ion-label>Formulario válido: {{ formulario.valid }}</ion-label>
        </ion-list-header>

        <ion-row *ngIf="data">
            <ion-col size-sm="8" offset-sm="2" size-md="6" offset-md="3" size-lg="6" offset-lg="3">

                <ion-item>
                    <ion-label>Código:</ion-label>
                    <ion-input type="text" placeholder="XXXXX" name="codigo" [(ngModel)]="producto.codigo" pattern="^([a-zA-Z0-9_\-\.]{2,10})$" required id="codigo"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label>Nombre:</ion-label>
                    <ion-input type="text" placeholder="Nombre" name="nombre" [(ngModel)]="producto.nombre" pattern="^([a-zA-ZñÑáéíóúÁÉÍÓÚ0-9_\-\.\s]{2,50})$" required id="nombre"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label>Valor:</ion-label>
                    <ion-input type="text" placeholder="Precio" name="precio" [(ngModel)]="producto.precio" pattern="^([0-9\.]{1,11})$" required id="valor"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label>Vigente:</ion-label>
                    <ion-checkbox type="checkbox" name="vigente" [(ngModel)]="producto.vigente" id="vigente">{{producto.vigente || 'true'}}</ion-checkbox>
                </ion-item>
            </ion-col>
        </ion-row>

    </form>

    <ion-row *ngIf="!data">
        <ion-col size-sm="8" offset-sm="2" size-md="6" offset-md="3" size-lg="6" offset-lg="3">
            <ion-item>
                <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
            </ion-item>
            <ion-item>
                <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
            </ion-item>
            <ion-item>
                <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
            </ion-item>
            <ion-item>
                <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
            </ion-item>
        </ion-col>
    </ion-row>

</ion-content>